.d-grid {
    display: grid;
}
.d-grid-index {
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
            "header header header"
            "sidebar main main"
            "footer footer footer"
    ;
}
.d-grid-index div:nth-child(1) {
    grid-area: header;
}
.d-grid-index div:nth-child(2) {
    grid-area: sidebar;
}
.d-grid-index div:nth-child(3) {
    grid-area: main;
}
.d-grid-index div:nth-child(4) {
    grid-area: footer;
}

.d-grid-first {
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
            "header header header"
            "logo-block menu menu"
            ".content."
            "footer footer footer"
    ;
}
.d-grid-first div:nth-child(1) {
    grid-area: header;
}
.d-grid-first div:nth-child(2) {
    grid-area: logo-block;
}
.d-grid-first div:nth-child(3) {
    grid-area: menu;
}
.d-grid-first div:nth-child(4) {
    grid-area: content;
}
.d-grid-first div:nth-child(5) {
    grid-area: footer;
}
/*second*/
.d-grid-second {
    grid-template-areas:
            "header header header"
            "menu menu logo-block"
            ".content."
            "footer footer footer"
    ;
}
.d-grid-third {
    justify-items: center;
}